
body{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

.position {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.div1, .div2, .div3, .div4{
    font-size: 20px;
    font-family: sans-serif;
    letter-spacing: 0.15em;
    position: static;
    width: 200px;
    height: 350px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    background: linear-gradient(to right, #f8f9f9);
    border-radius: 10px;
    transition: all 0.5s ease;
    cursor: pointer;
    border: 2px solid rgba(0 0 0 / .1);
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover{
    filter: drop-shadow(.6em .6em .6em #29323c);
    /* transform: scale(1.05); */
    background: #29323c;
    color: #f8f9f9;

}

.btn{
    padding: 14px 19px 14px 19px;
    border-radius: 25px 5px 25px 5px;
    border: none;
    color: white;
    letter-spacing: 0.2em;
}

.btn1{
    background: linear-gradient(135deg, #29323c 10%, #485563 100%);
}

.open{
    text-align: center;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 1.2em;
    text-align: center;
    padding: 50px;
    width: 37.3%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(135deg, #29323c 10%, #485563 100%);
    color: #fff;
    border-radius: 10px;
    letter-spacing: 4.5px;
    filter: drop-shadow(.25em .25em .25em grey);
}

@media screen and (max-width:880px) {

    .position {
        flex-direction: column;
    }
}