/* html{
    background-image: url(bckg.png);
    background-size: cover;

} */


body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
    font-family: sans-serif;
    scroll-behavior: smooth;
    /* background-image: url(bckg.png);
    background-size: repeat; */
}

/*=======================================================================================*/
/* Introduction Part */
.container {
    margin: auto;
    width: 100%;
    padding: 10px;
}

.container > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pewdiepie {
    padding: 50px 100px 50px 100px;
}

.title {
    text-align: center;
    font-size: 1.25rem;
    font-weight: lighter;
    letter-spacing: 7px;
}

.name {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 5px;
}

.description {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 3px;
}

.social-media {
    padding: 40px 50px 50px 80px;
    display:flex;
    justify-content: space-between;
}

.social-media > a {
    transition: transform 500ms ease;
}

.social-media > a:hover, a:active{
    transform: scale(1.1);
}

/*=======================================================================================*/
/* Product Image Part */
.gallery {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 50px 50px 0px 50px;
}

.g-description {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 4px;
    padding: 0px 50px 50px 50px;
}


/*=======================================================================================*/
/* Product Card Part */
.product {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    padding: 50px 50px 0px 50px;
}

.p-description {
    text-align: center;
    font-size: 1.25rem;
    letter-spacing: 4px;
    padding: 0px 50px 50px 50px;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    z-index: 100;
}
.container2 .product-card1{
    position: relative;
    width: 350px;
    height: 600px;
    background: #f5f3f3;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, .5);
    transition: 500ms ease;
}

.product-card1:hover {
    transform: scale(1.05);
}

.content-1{
    position: relative;
    width:100%;
    height: 35%;
    background-image: 
    linear-gradient(to bottom right,#B30041,#D7008A);
}

.content-1 .arrow-left{
    position: absolute;
    top: 8%;
    left: 6%;
    color: #e2e2e2;
    font-size: 20px;
    cursor: pointer;
}
.content-1 span{
    position: absolute;
    top: 8%;
    right: 6%;
    color:#e2e2e2;
    font-size: 20px;
    cursor: pointer;
    
}
.heart i.fa-heart{
    color: #f00c0c;
}
.content-1 > .main-image > img{
    width: 300px;
    height: 122px;
    position: absolute;
    top: 60%;
    left: 7%;
    z-index: 100;
    filter: drop-shadow(.5em .5em .7em #870009);
}
.content-2 {
    height: 120px;
}
.content-2 .sub-image{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2 .sub-image img{
    width: 35px;
    height: 20px;
    margin: 70px 7px 0px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(230, 244, 244, 0.5),
    5px 5px 5px rgba(70,70,70,0.12);
    cursor: pointer;
    border: 1.5px solid #fff;
}
.content-2 .sub-image img:hover{
    border: 1.5px solid #B30041;
}
.content-3{
    position: relative;
    padding: 5px 20px 10px;
}
.branding span:nth-child(1){
    font-size: 18px;
    font-weight: 500; 
}
.branding h4{
    font-size: 12px;
    font-weight: 500;
    color: #464444;
}
.cart span{
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s;
    color: #B30041;
}

.paragraph p{
    font-size: 11.5px;
    color: #000;
    font-weight: 500;
}
.price{
    display: flex;
    margin: 30px 0 10px;
}
.space{
    flex: 1;
}

.price {
    display: flex;
}

.price span:nth-child(1){
    font-size: 20px;
    font-weight: 400;
    margin-top: 3px;
    margin-right: 5px;
}
.price span{
    font-size: 25px;
    font-weight: 600;
}
.price p {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
    align-self: flex-end;
}

.price a{
    font-size: 12px;
    text-decoration: none;
    border:none;
    background-image: 
    linear-gradient(to right,#B30041,#D7008A);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 30px 10px;
    border-radius: 15px;
    cursor: pointer;
}


/* Second Product */
.container2 .product-card2{
    position: relative;
    width: 350px;
    height: 600px;
    background: #f5f3f3;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, .5);
    transition: 500ms ease;
}

.product-card2:hover {
    transform: scale(1.05);
}

.content-1-2{
    position: relative;
    width:100%;
    height: 35%;
    background-image: 
    linear-gradient(to bottom right,#B30041,#D7008A);
}

.content-1-2 .arrow-left{
    position: absolute;
    top: 8%;
    left: 6%;
    color: #e2e2e2;
    font-size: 20px;
    cursor: pointer;
}

.content-1-2 span{
    position: absolute;
    top: 8%;
    right: 6%;
    color:#e2e2e2;
    font-size: 20px;
    cursor: pointer;
}

.heart i.fa-heart{
    color: #f00c0c;
}

.content-1-2 > .main-image2 > img{
    width: 175px;
    height: 175px;
    position: absolute;
    top: 40%;
    left: 25%;
    z-index: 100;
    filter: drop-shadow(.5em .5em .7em #870009);
}

.content-2-2 {
    height: 120px;
}

.content-2-2 .sub-image2{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-2-2 .sub-image2 img{
    width: 30px;
    height: 30px;
    margin: 60px 7px 0px;
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: -10px -10px 10px rgba(230, 244, 244, 0.5),
    5px 5px 5px rgba(70,70,70,0.12);
    cursor: pointer;
    border: 1.5px solid #fff;
}

.content-2-2 .sub-image2 img:hover{
    border: 1.5px solid #B30041;
}

.content-3-2{
    position: relative;
    padding: 5px 20px 10px;
}

.branding span:nth-child(1){
    font-size: 18px;
    font-weight: 500; 
}

.branding h4{
    font-size: 12px;
    font-weight: 500;
    color: #464444;
}

.ratings span{
    display: inline-block;
    text-align: center;
    line-height: 26px;
    font-size: 10px;
    cursor: pointer;
    transition: all 0.5s;
    color: #fcba26;
}

.ratings span:nth-child(5){
    color: #a7a7a3;
}

.paragraph p{
    font-size: 11.5px;
    color: #000;
    font-weight: 500;
}

.price{
    display: flex;
    margin: 30px 0 10px;
}

.space{
    flex: 1;
}

.price span:nth-child(1){
    font-size: 20px;
    font-weight: 400;
    margin-top: 3px;
    margin-right: 5px;
}

.price span{
    font-size: 25px;
    font-weight: 600;
}

.price a{
    font-size: 12px;
    text-decoration: none;
    border:none;
    background-image: 
    linear-gradient(to right,#B30041,#D7008A);
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px 30px;
    border-radius: 15px;
    cursor: pointer;
}
